html {
  height: auto;
  min-height: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0;
  min-height: 100vh;
}

main {
  /* display: run-in; */
  margin: 0;
  /* float:left; */
  width: 70%;
  min-width: 380px;
  padding: 0 120px;
}

section {
  /* float:right;
  position: absolute;
  right: 0; */
  width: 30%;
  min-width: 380px;
  height: inherit;
  /* min-height: 100vh; */
  padding: 40px;
  background: #f0f0f0;
  color: #ABABAB;
}

header {
  margin: 30px 0 60px;
  line-height: 28px;
}

header a {
  color: #333333;
  text-decoration: none;
  margin-right: 10px;
}

h1, h2 {
  /* height: 44px; */
  margin: 0;
  margin-bottom: 10px;
}

form {
  margin: 40px 0 40px;
}

label {
  cursor: pointer;
  font-size: 18px;
  line-height: 26px;
}

address {
  font-style: normal;
}

button {
  background-image: url(/assets/icons/heart_0.svg);
  background-color: inherit;
  padding: 0;
  margin-bottom: 10px;
  width: 20px;
  height: 17px;
  border: none;
}

.hidden {
  display: none;
}

.header {
  font-size: 20px;
}

.radio {
  cursor: pointer;
  margin: 10px 10px 0px 0;
  color: #ABABAB;
}

.selection-level {
  margin-top: 10px;
}

.category {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  border: 2px solid #f0f0f0;
  box-sizing: content-box;
  border-radius: 6px;
  padding: 6px 15px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #ABABAB;
}

.selected {
  background: #f0f0f0;
  color: #333333;
}

.submit {
  cursor: pointer;
  margin-top: 20px;
  width: 152px;
  height: 42px;
  background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
  border: 0px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.joke {
  background: #f0f0f0;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 20px;
  width: inherit;
}

.fav-icon {
  background-image: url(/assets/icons/heart_1.svg);
}

.joke-link {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: #ABABAB;
}

.joke-text {
  font-size: 18px;
  line-height: 26px;
}

.joke-upd {
  font-size: 10px;
  line-height: 14px;
  color: #ABABAB;
}

.joke-cats {
  background: #FFFFFF;
  font-size: 10px;
  line-height: 14px;
  color: #333333;
  margin: 0;
}

.auxiliary {
  color: #ABABAB;
}

#search-field {
  height: 42px;
  width: 100%;
  border: 2px solid #333333;
  padding: 10px 15px;
  /* box-sizing: border-box; */
  border-radius: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #ABABAB;
  }
